version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "tailwindcss"
        update-types: ["version-update:semver-major"]
    groups:
      development-dependencies:
        dependency-type: "development"
        update-types:
          - "major"
          - "minor"
      react:
        applies-to: version-updates
        patterns:
          - "react"
          - "react-dom"
          - "@types/react"
          - "@types/react-dom"
      gatsby:
        applies-to: version-updates
        patterns:
          - "gatsby"
          - "gatsby-*"
      eslint:
        patterns:
          - "eslint"
          - "eslint-config-*"
          - "eslint-plugin-*"
          - "@eslint/js"
          - "@sanity/eslint-config-studio"
          - "typescript-eslint"
  - package-ecosystem: "npm"
    directory: "/backend"
    schedule:
      interval: "weekly"
    groups:
      development-dependencies:
        dependency-type: "development"
        update-types:
          - "major"
          - "minor"
      react:
        applies-to: version-updates
        patterns:
          - "react"
          - "react-dom"
          - "@types/react"
          - "@types/react-dom"
      sanity:
        applies-to: version-updates
        patterns:
          - "sanity"
          - "@sanity/*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
