# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Turborepo
.turbo

# dotenv environment variable files
.env*

# gatsby files
.cache/
public
gatsby-types.d.ts

# Mac files
.DS_Store

# Sanity dist folder
backend/dist/

# Frontend test files
/frontend/cypress/screenshots
/frontend/cypress/videos