@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #c32c2b;
  color: #fff;
  background-image: url("../assets/images/bg.jpg");
  background-repeat: repeat;
}

h1, h2, h3 {
  margin: 0 0 15px;
  letter-spacing: .05em;
  font-weight: normal;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px rgba(0,0,0,.15);
}

h1 {
  font-family: 'Alfa Slab One';
  font-size: 42px;
  line-height: 1.1em;
}

h2 {
  font-family: 'Alfa Slab One';
  font-size: 22px;
}

h3 {
  font-family: 'Alfa Slab One';
  font-size: 22px;
}

h1 small, h2 small {font-size: 60%;}
h1 strong {font-weight: normal; color: #dc1f26;}
h2 strong {font-weight: normal; color: #f1cb19;}
h3 strong {font-weight: normal; color: #f1cb19;}

a {color: inherit;}
p {
  margin: 0 0 20px 0;
}

p.signature {
  font-family: 'Courgette';
  font-size: 25px;
  line-height: 1.25em;
}

ul {
  padding-left: 15px;
}

ul li {
  margin-bottom: 5px;
}

table {
  border-spacing: 0;
  margin: 0 0 20px 0;
}

table tr td {
  padding: 5px 10px;
  vertical-align: top;
  border-top: 1px solid #eee;
}

table tr:first-child td {
  border-top: 0;
}

table tr td:first-child {
  font-weight: bold;
  color: #dc1f26;
  font-variant-numeric: tabular-nums;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

section > div {margin: auto; max-width: 1600px; width: 100%; padding: 50px;}

section.sponsors > div {padding: 20px 50px;}
section.sponsors > div h3 {margin-top: 0; color: #c32c2b;}
section.sponsors > div p {color: #333;}

@media screen and (max-width: 768px) {
  h1 span, h2 span {white-space: normal;}
  h1 {font-size: 34px;}
  h2 {font-size: 22px;}

  section > div {padding: 15px;}
}