@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-red text-white bg-repeat;
    background-image: url("../assets/images/bg.jpg");
  }

  h1,
  h2,
  h3 {
    @apply font-alfaSlabOne uppercase tracking-wider mb-3 drop-shadow-line;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-xl;
  }

  h1 small,
  h2 small {
    font-size: 60%;
  }

  h1 strong {
    @apply text-red font-normal;
  }

  h2 strong {
    @apply text-yellow font-normal;
  }

  h3 strong {
    @apply text-yellow font-normal;
  }

  a {
    color: inherit;
  }

  p {
    @apply mb-4;
  }

  p.signature {
    @apply font-courgette text-2xl;
  }

  .rotatedImage {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 10px 39px -5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    line-height: 0;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 3px;
    position: relative;
    text-align: center;
    transform: rotate(-2deg);
    width: 100%;
  }

  .headerintro>div {
    @apply mb-4;
  }

  ul {
    @apply pl-4;
  }

  ul li {
    @apply mb-2;
  }

  table {
    @apply mb-4 border-spacing-0;
  }

  table tr td {
    @apply align-top p-2 border-t;
  }

  table tr:first-child td {
    @apply border-t-0;
  }

  table tr td:first-child {
    @apply text-red font-bold tabular-nums;
  }

  section.sponsors>div {
    padding: 20px 50px;
  }

  section.sponsors>div h3 {
    @apply text-red mt-0;
  }

  section.sponsors>div p {
    color: #333;
  }

  @media screen and (max-width: 768px) {

    h1 span,
    h2 span {
      @apply whitespace-normal;
    }
  }
}