.fotos {margin: auto 0; width: 100%;}
.fotos::after {clear: both; content: ""; float: none; display: block;}
.fotos .item {
  box-shadow: 0 10px 39px -5px rgba(0,0,0,.2);
  float: left;
  line-height: 0;
  margin: 5px;
  position: relative;
  text-align: center;
  overflow: hidden;
  width: calc(16.666% - 10px);
  box-sizing: border-box;
  background: rgba(255,255,255,.7);
  transform: rotate(-2deg);
  padding: 3px;
  transition: .3s all ease;
  cursor: pointer;
}
.fotos .item > div {width: 100%; margin: auto 0; padding-bottom: 80%;}


@media screen and (max-width: 1024px) {
  .fotos .item {width: calc(25% - 10px);}
}

@media screen and (max-width: 768px) {
  .fotos .item {width: calc(33.333% - 10px);}
}