.header {
  background-color: #84cdde;
  background-image: url('../../assets/images/gebouwen.svg');
  min-height: inherit;
  width: 100%;
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 825px 175px;
}