.header {
  background-color: #84cdde;
  background-image: url('../../assets/images/gebouwen.svg');
  min-height: inherit;
  width: 100%;
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 825px 175px;
}

.header .headertekst {display: flex; flex-direction: column}
.header .headertekst > div {margin-bottom: 20px;}
.header .headertekst > img {margin: auto auto 0 0; max-width: 300px;}

@media screen and (max-width: 768px) {
  .header .headertekst {flex-direction: column-reverse;}
  .header .headertekst > div {margin-bottom: auto;}
  .header .headertekst > img {margin-bottom: 20px;}
}