


.houder nav {
  padding: 18px 30px;
  background: #fff;
  border-radius: 4px;
}
.houder a {
  padding: 14px 0;
  text-decoration: none;
  transition: .3s all ease;
  border-bottom: 2px solid #eee;
  color: #383838;
  line-height: normal;
  display: flex;
}
.houder a:last-child {border-bottom: 0;}

.houder a.actief {}

.houder a svg {
  font-size: 24px;
  margin-right: 10px;
  background: #666;
  padding: 5px 5px 4px;
  border-radius: 3px;
  color: #eee;
  border-bottom: 2px solid #383838;
  transform: perspective(3900px) rotateY(20deg) rotateX(5deg) rotate(-2deg);
  box-shadow: 1px 11px 12px -6px rgba(0,0,0,.2);
}

.houder a.actief svg, .houder a:hover svg {
  background: #c52b2c;
  color: #fff;
  border-bottom: 2px solid #961b1c;
}

.houder a span {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #565656;
  margin: auto 0;
}