.houder {
  display: flex;
  background: #fff;
  color: #222;
}
.houder a {
  flex: 1;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  transition: .3s all ease;
}

.houder a:hover,
.houder a.actief {color: red; background: #f1f1f1;}
.houder a span {}