name: CI
on: push
jobs:
  frontend:
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 2
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "yarn"
      - name: Install modules
        run: yarn install --frozen-lockfile
      - name: Run ESLint
        run: yarn lint
      - name: Build project & generate types
        run: yarn build
      - name: Run TypeScript Check
        run: yarn check-types
