name: Deploy Sanity
on:
  push:
    branches: [master]
jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Enable Corepack
        run: corepack enable
      - name: Install modules
        run: yarn install --immutable
      - name: Deploy Sanity
        env:
          SANITY_AUTH_TOKEN: ${{ secrets.SANITY_AUTH_TOKEN }}
        run: yarn sanity deploy
