name: Tests
on: push
jobs:
  cypress:
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 2
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Enable Corepack
        run: corepack enable
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          working-directory: frontend
          browser: chrome
          build: yarn build
          start: yarn serve
